<div class="row">
    <div class="col-12  col-md-6 offset-md-3">
        <div class="alert alert-danger text-center" id="alert" role="alert">
            <p id="alert_text"></p>
        </div>
    </div>
</div>

                    <div class="row">
                        <div class="col-12 col-lg-6 mb-2">
                            <div class="card shadow">
                                <h1 class="text-center card-header">Modifica dati </h1>
                                <div class="card-body">
                                    <div class = "row">
                                        <div class ="col-12 col-md-3 mb-2">
                                            <div class="email" ><campi><b>Email</b></campi></div>
                                        </div>
                                        <div class ="col-12 col-md-6 mb-2">
                                            <div class="email" id="email"><campi><%= user.email%></campi></div>
                                            <input type="text" maxlength="100" class="form-control" id="emailModifica" placeholder="example@example.com">
                                        </div>
                                        <div class ="col-12 col-md-3 mb-2">
                                            <button type="button" class="btn btn-primary btn-sm" id="ModificaEmail">Modifica</button>
                                            <button type="button" class="btn btn-primary btn-sm" id="SalvaEmail">Salva</button>
                                        </div>
                                    </div>

                    <div class = "row">
                        <div class ="col-12 col-md-3 mb-2">
                            <div class="telefono"><campi><b>Telefono</b></campi></div>
                        </div>
                        <div class ="col-12 col-md-6 mb-2">
                            <div class="telefono" id="telefono"><campi><%= user.telefono%></campi></div>
                            <input type="text" maxlength="10" class="form-control" id="telefonoModifica" placeholder="Inserire numero di telefono">
                        </div>
                        <div class ="col-12 col-md-3">
                            <button type="button" class="btn btn-primary btn-sm" id="ModificaTelefono">Modifica</button>
                            <button type="button" class="btn btn-primary btn-sm"id="SalvaTelefono">Salva</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="card shadow  mb-2">
                <h1 class="text-center card-header">Impostazioni Utili</h1>
                <div class="card-body">
                    <div class = "row">
                        <div class ="col-12 col-md-4 mb-2">
                            <div class="limite"><campi><b>Limite spesa</b></campi></div>
                        </div>
                        <div class ="col-12 col-md-4 mb-2">
                            <div class="limite" id="limite"><campi><%= limite.limite_spesa%>  €</campi></div>
                            <input type="number" max="10000" class="form-control" id="limiteModifica" placeholder="MAX: 10000">

                        </div>
                        <div class ="col-12 col-md-3 offset-md-1 mb-2">
                            <button type="button" class="btn btn-primary btn-sm" id="ModificaLimite">Modifica</button>
                            <button type="button" class="btn btn-primary btn-sm" id="SalvaLimite">Salva</button>
                        </div>
                    </div>

                    <div class = "row">
                        <div class ="col-12 col-md-4 mb-2">
                            <div class="comunicazione"><campi><b>Comunicazione</b></campi></div>
                        </div>
                        <div class ="col-12 col-md-4 mb-2">
                            <div class="comunicazione" id="comunicazione">
                                <%if(user.comunicazione == 0){%>
                                <campi>Email</campi>
                                <%}else if(user.comunicazione == 2){%>
                                    <campi>Telegram</campi>
                                <%}%>
                            </div>
                                <div class="form-group"  id="comunicazioneModifica">
                                    <select class="form-control  form-control-sm" title="Scegli un'opzione">
                                        <option value="Value 1">Email</option>
                                        <option value="Value 3">Telegram</option>
                                    </select>
                                </div>
                        </div>

                        <div class ="col-12 col-md-3 offset-md-1">
                            <button type="button" class="btn btn-primary btn-sm" id="ModificaComunicazione">Modifica</button>
                            <button type="button" class="btn btn-primary btn-sm" id="SalvaComunicazione">Salva</button>
                        </div>
                    </div>

                    <div class = "row  mt-2">
                        <div class ="col-12 col-md-4 mb-2">
                            <div class="limite"><campi><b>Bot Telegram</b></campi></div>
                        </div>
                        <div class ="col-12 col-md-4 mb-2">
                            <input type="text" class="form-control form-control-sm" id="codiceBot" placeholder="123456789" maxlength="10">
                        </div>
                        <div class ="col-12 col-md-3 offset-md-1 mb-2">
                            <button type="button" class="btn btn-primary btn-sm" id="sendCodice">Invia</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

<div class="row">
    <div class="col-12 col-lg-6 offset-lg-3">
        <div class="card shadow mb-2">
            <h1 class="text-center card-header">Modifica password</h1>
            <div class="card-body">
                 <form  method="post" id="form_cambia_password">
                    <div class="form-row">
                        <div class="form-group col-12 col-md-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert alert-success"  id="successAlert" role="alert">
                                         <p id = "alert_text_success"></p>
                                    </div>
                                </div>
                            </div>
                            <div class = "row">
                                <div class ="col-12 col-md-4 mb-2">
                                    <div class="password" ><campi><b> Vecchia Password</b></campi></div>
                                </div>
                                <div class ="col-12 col-md-7 mb-2">
                                     <input type="password" maxlength="100" class="form-control" id="passwordVecchia">
                                </div>
                            </div>

                            <div class = "row">
                                <div class ="col-12 col-md-4">
                                     <div class="password"><campi><b>Nuova Password</b></campi></div>
                                </div>
                                <div class ="col-12 col-md-7">
                                    <input type="password" maxlength="100" class="form-control" id="passwordNuova">
                                    <p id="grado_password"></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class ="col-12">
                                    <!--Alert sul formato della password-->
                                    <div class="alert alert-primary" role="alert" id="alertCheck">
                                        <p id="textCheck"></p>
                                    </div>
                                    <div class="alert alert-primary alert-danger" role="alert" id="password_errata">
                                        <p>La password non rispetta le richieste minime </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class ="col-12 col-md-4 mb-2">
                                    <div class="password"><campi><b>Conferma Password</b></campi></div>
                                </div>
                                <div class ="col-12 col-md-7 mb-2">
                                    <input type="password" maxlength="100" class="form-control" id="passwordRipeti">
                                    <!--Alert sul controllo della password-->
                                    <div class="alert alert-primary alert-danger" role="alert" id="conferma_errata">
                                        <p>Le due password non coincidono</p>
                                    </div>
                                </div>
                            </div>
                                <div class = "row">
                                    <div class="col-12">
                                        <button id ="Conferma" class="btn btn-primary btn-lg btn-block mt-3">Conferma</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                 </form>
            </div>
        </div>
    </div>
</div>
