<!-- views/partials/footer.ejs -->

<footer class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; Sito creato da Sergio Comella, Francesco Bondi e Valerio Gambino.</small>
    </div>
</footer>