<!-- views/partials/header.ejs -->


<nav class="navbar navbar-expand-lg  fixed-top">
    <a class="navbar-brand" href="/"> MoneyGO <i class="fas fa-comment-dollar"></i> </a>

    <div class="align-items-end logout"><a href="/logout" >Logout</a> </div>



</nav>