<!-- views/partials/header.ejs -->

<header>
<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/">
        MoneyGO <i class="fas fa-comment-dollar"></i> </a>
</nav>
</header>