<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyGo</title>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/schermata.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet">

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
</head>
<body class="d-flex flex-column">

<% include partials/header_postlogin.ejs %>

<div id="page-content">
    <main class="container">
        <%include partials/GestioneMoneyGO/gestione-profilo.ejs%>
    </main>
</div>
<% include partials/footer.ejs %>

<% include ./partials/script.ejs%>
<script type="text/javascript" src="/javascripts/gestionedati.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>
</body>
</html>
