<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyGo</title>
    <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
    <link rel='shortcut icon' type='image/x-icon' href='./images/icona.ico' />

    <!-- Import di Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>

<body  class="d-flex flex-column">

<% include partials/header.ejs %>
<div id="page-content">
    <main class="container">

        <div class="row justify-content-center">
            <h1>Recupera la tua password</h1>
        </div>
        <div class="row mb-4 mt-4">
            <p>Se ti trovi in questa pagina allora hai smarrito la tua password. Non temere la soluzione è dietro l'angolo.</p>
            <ol>
              <li>Inserisci l'email associata all'account per il quale devi recuperare la password.</li>
                <li>Invia la richiesta.</li>
            </ol>
            <p>Riceverai una mail contenente una password generata casualmente che potrai cambiare una volta
                effettuato l'accesso a MoneyGO.</p>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="alert alert-danger text-center" role="alert">
                    <p id="alert_text"></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center"  id="alertCheck">
            <div class="success-checkmark">
                <div class="check-icon">
                    <span class="icon-line line-tip"></span>
                    <span class="icon-line line-long"></span>
                    <div class="icon-circle"></div>
                    <div class="icon-fix"></div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" id="getHome">Torna alla pagina iniziale</button>&nbsp;&nbsp;&nbsp;
        </div>

        <form action="" method="post" id="form_recupero">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <label for="mail">Mail</label>
                    <input type="text" maxlength="30" class="form-control" id="mail"  placeholder="Email" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <label for="nick">Nickname</label>
                    <input type="text" maxlength="30" class="form-control" id="nick"  placeholder="Nickname" required>
                </div>
            </div>
            <div class="mb-3"></div>
            <div class="row">
                <div class="col-4 col-md-3 offset-8 offset-md-6">
                    <button  class="btn btn-primary btn-lg btn-block" id="conferma">Conferma</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </form>


    </main>
</div>

<footer>
    <% include partials/footer.ejs %>
</footer>


<% include ./partials/script.ejs%>
<script src="/javascripts/recuperopassword.js" ></script>

</body>
</html>