<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyGo</title>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/schermata.css">

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
</head>
<body class="d-flex flex-column">

<% include ../header_postlogin.ejs %>

<div id="page-content">
    <main class="container">
        <div class="row justify-content-center">
            <h2>Crea un link per ricevere un pagamento</h2>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">

            </div>
        </div>
    </main>
</div>
<% include ../footer.ejs %>

<%include ../script.ejs%>

</body>
</html>