.button {
    display:block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: dodgerblue;
}

.button-img{
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 10px;
}

.saldo{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.logout{
    font-size: 1.5rem;
    position: absolute;
    right: 1em;

}

.benvenuto{
    font-size: 3rem;
    color: black;
}

/*Schermi tablet*/
@media only screen and (max-width: 1100px) and (min-width: 768px) {
    #titoloCarte{
        font-size: 2em;
    }
}
/*schermi piccoli*/
@media only screen and (max-width: 768px) {
    #titoloCarte{
        font-size: 1.5em;
    }
    #buttonONE,#buttonTWO,#buttonTHREE{

    }

    .benvenuto {
        display: none;
    }
}